<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">The weather is variable in Normandy. It could be sunny and hot, or it could be rainy and brisk. Check the weather of Bellême before the wedding and prepare for various potential types of weather.</p>
            <h4 class="service-heading">What will the language of the event be?</h4>  
            <p class="largepad text-muted"> A mix of English and French. You'll understand some things, and not others, and it's okay - welcome to our lives :) The most important part is to enjoy and celebrate together! </p>
            <h4 class="service-heading">How does the shuttle work?</h4>  
            <p class="largepad text-muted">You come yourself to the Domaine for the ceremony - there is a parking lot at the Domaine where you can leave your car. Then, throughout the night, as you're ready to go home, Sophie who works at the Domaine will be there to shuttle you back when you like (even if it's at 4 am); in other words, there is not *one time* with *one shuttle* that departs. She'll wait with the minivan and you can ask her to bring you home (remember the name of where you're staying). You leave your car at the Domaine, and Sophie will come back and pick you up to come to the brunch in the morning.</p>
            <h4 class="service-heading">I'm staying at the hotel booked by Alyssa/Paul-Henri. How does it work?</h4>  
            <p class="largepad text-muted"> Your hotel room is reserved Friday (August 12) through Monday morning (August 15), unless you have spoken with us to arrange anything differently. The hotel is  <a href="https://goo.gl/maps/6bNkhF4YpJz4NCvn8">here</a>. Please email the hotel to confirm your time of arrival (and ask any additional questions) at this address: hautvalresidence@gmail.com.</p>
            <h4 class="service-heading">I'm staying at the domaine. How does it work?</h4>  
            <p class="largepad text-muted"> Alyssa has already been in contact with you, but you can arrive anytime on Friday.</p>
        </div>
    </div>
</section>
