<!-- Travel Section -->
<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Travel</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Plane</h4>
                <p class="text-muted"> If you're coming from the US, make sure you check the latest COVID testing requirements to enter France: https://www.interieur.gouv.fr/covid-19-international-travel. You'll need to show your vaccination records. Does your vaccination status count as "complete" according to French law? Message Alyssa/Paul-Henri if you have questions. If you're not sure, in general, it's the safest bet to get a PCR test before coming.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Car</h4>
                <p class="text-muted">If you're renting a car, make sure you pay attention to whether it's stick shift or automatic :) Also, please message Alyssa/Paul-Henri if you have extra space in your car and are willing to accept a car-pooler or two. Car is the easiest way to get around in the area of the venue - it's quite remote.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-train fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Train</h4>
                <p class="text-muted">There is a train from Paris to Nogent-le-rotrou, which is about 20 minutes from the venue. If you need help arranging a pick up from the train station, message Alyssa/Paul-Henri.</p>
            </div>
        </div>
    </div>
</section>
