<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue</h2>
                <h3 class="section-subheading text-muted">The Domaine de Ronsard, in the Perche natural regional park, located in Normandy. Think: fields, cider, chateaus, and maybe some rain! If you're coming in your car, PUT THIS ADDRESS: 32 La Marinière, 61130 Dame-Marie, France. If you put the Domaine in Google maps, it will make you take a road that no longer brings you to the domaine... If Google Maps tells you to pass directly next to "Le Pautonier", THIS IS THE WRONG ROAD. </h3>
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10606.472352434237!2d0.6335902253784175!3d48.348645707072734!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb5b6ad7030c631b6!2sDomaine%20de%20Ronsard!5e0!3m2!1sen!2sin!4v1656334006063!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
